/* common sheared style */
/* nab releted style */

body{ 
     font-family: 'Open Sans', sans-serif;
}



nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;


}
.nav-title {

    color: black;
    font-size: 40px;
    font-weight: 800;


}

.r{
    color: orange;
}



nav > ul{
    display: flex;
}

nav li { 
    list-style: none;


   
}
nav a{

    text-decoration: none;
    color: dimgray;
    margin-left: 50px; 
}
button{
    background-color: orange;
    color: aliceblue;
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;

}


/* header releted style */

.header{
    background-color: azure
    


}

.benner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.contact{

    color: rgb(32, 25, 88);
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;


}

.bimage{
    width: 400px;
    height: 500px;
    
    
}









