/* common sheared style */
/* nab releted style */

body{ 
     font-family: 'Open Sans', sans-serif;
}



nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;


}
.nav-title {

    color: black;
    font-size: 40px;
    font-weight: 800;


}

.r{
    color: orange;
}



nav > ul{
    display: flex;
}

nav li { 
    list-style: none;


   
}
nav a{

    text-decoration: none;
    color: dimgray;
    margin-left: 50px; 
}
.suich{
    background-color: orange;
    color: aliceblue;
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;
}
.hhh{
    background-color: rgb(241, 241, 241);
    color: aliceblue;
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;
    

}

/* header releted style */

.header{
    background-color: rgb(241, 241, 241);
    /* background-image: url(first-images/backimg.jpg); */
    background-repeat: no-repeat;
    background-position: bottom right;

}

.benner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benner-content{
    max-width: 500px;


}






.contact{

    color: rgb(32, 25, 88);
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;


}

.bimage{
    width: 400px;
    height: 335px;
    margin-right: 45px;
    
}
.benneriam{

    font-size: 45px;
    color: rgb(58, 54, 54);
    margin-bottom: 0px;


}
.benner-name{

    font-size: 85px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.benner-description{
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    margin: 3px;
}





