/* common sheared style */
/* nab releted style */

body{ 
     font-family: 'Open Sans', sans-serif;
}



nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;


}
.nav-title {

    color: black;
    font-size: 40px;
    font-weight: 800;


}

.r{
    color: orange;
}



nav > ul{
    display: flex;
}

nav li { 
    list-style: none;


   
}
nav a{

    text-decoration: none;
    color: dimgray;
    margin-left: 50px; 
}
.suich{
    background-color: rgb(108, 31, 180);
    color: aliceblue;
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;
}
.hhh{
    background-color: rgb(241, 241, 241);
    color: aliceblue;
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;
    

}

/* header releted style */

.header{
    background-color: rgb(236, 240, 230);
    /* background-image: url(first-images/backimg.jpg); */
    background-repeat: no-repeat;
    background-position: bottom right;

}

.benner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benner-content{
    max-width: 500px;


}






.contact{

    color: rgb(32, 25, 88);
    font-size: 20px;
    border: 0;
    padding: 15px 3opx;


}

.bimage{
    width: 400px;
    height: 335px;
    margin-right: 45px;
    
}
.benneriam{

    font-size: 45px;
    color: rgb(58, 54, 54);
    margin-bottom: 0px;


}
.benner-name{

    font-size: 85px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.benner-description{
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    margin: 3px;
}

     /* about saction start  upore heading sactioner kach complete*/



main{
    max-width: 1140px;
    margin: 0 auto;

}

.about{
    display: block;
    padding: 30px 150px;
    border-radius: 10px;
    background-color: rgb(236, 240, 230);
    margin-top: 40px;
}

.saction-title{

    color: rgb(58, 55, 55);
    text-align: center;
    font-size: 30px;
    font-weight: 700;


}

.section-description{
    color: rgb(64, 53, 68);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    
}
.about-info-conteiner{

    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40pxs;
}


.about-info{
    text-align: center;
  
}

/* skill releted style */


.skils{
    padding: 30px 120px;
   display: flex;
   
    
}

.skil-title{

    padding: 30px;
    margin-right: 20px;
    gap: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 20px 0px rgb(116, 96, 96);


}
.ido{
   


}
.ido-p{
    
}
.senter{
    padding: 30px 100px; 
    text-align: center;
    font-size: large;
    font-weight: 400;
    text-shadow: 20% 20%x rgb(34, 32, 32);
}

.summary{
  
    padding: 30px 120px;
    text-align: left;
    display: flex;
    gap: 50px;
    text-decoration: 2em;

}
.summary-header{

    padding: 30px 150px;
    
    

}
.summary-header-text{

    text-align: center;
    padding: 30px 150px;
    font-weight: 700;
    font-size: 30px;
}

.summary-hed{

    
    font-weight: 700;


}

.summary-colum{
    border-bottom: 1px solid rgb(51, 51, 53);
}

.button{
    text-align: center;
    background-color:rgb(108, 31, 180);
    color: aliceblue;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid rgb(51, 51, 53);

}

.cv-button{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}



/* Leat's start the footer style */



footer{
    display: flex;
    gap: 100px;
    background-color:rgb(236, 240, 230);
    margin-top: 100px;
    padding: 130px 200px;
   

}

.mein-footer{
   

}

.footer-collum{
    width: 50%;
    
    

}

.contact input[type="text"], .contact input[type="email"], 
textarea{
    display: block;
    margin-bottom: 22px;
    padding: 10px 35px;
    background-color: azure;
    border-radius: 5px;
    width: 100%;
   
}

.social-link a{
    margin-left:10px ;


}








